/* Page Sizing */
header, main, nav, footer {
    margin: 3% auto;
    max-width: 760px;
}

body {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    background-color:rgb(236, 217, 206);

}

.imgheader {
    max-width: 100%;
    margin: 1em;
}

header {
    text-align: center;
    background-color:mediumblue;
    color: white;
    padding: 1em;
}

header h1 {
    color: white;
}

/* Main Area */
main h2 {
    padding-left: .5em;
    padding-bottom: 0.5em;
}

.assignmentlist {
    margin-left: 1em;
}

/* Footer */
footer {
    background-color: mediumblue;
    color: white;
    padding: 0.5em;  
    text-align: center; 
}

#updatetime {
    color: yellow;
}

/* Links */
nav a {
    color: mediumblue;
}

nav a:hover {
    color:tomato;
}

footer a {
    color:orange;
}

footer a:hover {
    color: yellow;
}