/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    main, footer {
        max-width: 64rem;
        margin:auto;
    }
/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
nav button {display: none;} /* gets rid of hamburger button */

nav ul.hide {display: block;} /* makes it so the menu does not remain hidden if sized from small to medium while the menu is hidden */

nav {
/* added these three lines to make the links center like the header */
    display: flex;
    align-items: center;
    justify-content: center; 
}

    nav ul {margin-left: 2%;}
    nav ul li {float: left;}

    nav ul li a{padding: .6rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */