/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    /*----------- BODY --------------*/




    /*----------- HEADER --------------*/


    .headerlogo {
        width: 40%;
    }



    /*----------- NAVIGATION --------------*/


    /*----------- MAIN --------------*/

    main h2 {
        font-size: 2.4rem;
    }

    .paysonh2 {
        font-size: 3rem;
        color: #620080;
    }


    .dateaddress {
        color: #620080;
        font-size: 2.5rem;
    }

    .hctslogo img{
        display: block;
        margin: auto;
        width: 40%;
    }




    /*-------------------Contact-----------------*/
    .contact h2, h3 {
        font-size: 1.5rem;
    }


        


    /*----------- FOOTER --------------*/
    footer {
        padding: 1rem;
        text-align: center;
    }

    #updatetime {
        display: inline-block;
    }




} /* end of media query */