/* Box Model Reset */
* { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* body rules here */
body {
    font-family: 'DM sans', Verdana, sans-serif;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    padding: 1rem;
    width: 100%;
}

article {
    border-style: solid;
    border-radius: 1rem;
    border-color: #453643; /* light purple */
    margin: 1rem;
}

article h3 {
    color: #99b89e; /* light teal */ 
    background: #453643; /* light purple */
    margin: 0;
    border-radius: 10px 10px 0 0;
    font-family: 'DM Serif Display', 'Times New Roman', serif;
    font-size: 1.6rem;
}

article h4 {
    font-size: 1.1rem;
    color: #28112b; /* dark purple */
}

article h3, h4 {
    padding: 1rem;
}

a {
    padding: 1rem;
}

article p {
    padding: 1rem;
}

/* header rules here */
header {
    color: white;
    background-color: #28112b; /* dark purple */
    padding: 1rem 2%;
}

header h1 {
    font-family: 'DM Serif Display', 'Times New Roman', serif;
    text-align: center;
    font-size: 2.5rem;
}

header h2 {
    text-align: center;
}

/* footer area */
footer {
    padding: 1rem 2%;
    color: white;
    background-color:#28112b;
}