/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1 {
    font-family: Times, serif;
}

body {
    font-family: Ubuntu, sans-serif;
}

/* I had to create a main container to shadow the entire caption and table */
main {
    box-shadow: 5px 5px 10px grey;
    margin: 0 auto; /* this centers everything in viewport */
    width: 25%;
}

h1, table {
    text-align: center;
    padding: 1rem;
    width: 100%;
}

table, th, td {
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: .5rem;
}

caption {
    background-color: #7fb9c2;
    font-weight: 700;
    font-size: 2rem;
    padding: 1rem;
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey; 
} 


tr {
    background-color: #e7ffed;
}

th {
    color: white;
    background-color: #628ca6;
}

tr:nth-child(odd) {
    background-color: #e7f0ed;
}

.highlight {
    color: white;
    background-color: #628ca6;
}

tfoot td{
    background-color: #7fb9c2;
    font-size: 1rem;
    padding: .4rem;
}