/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1 {
    font-family: Times, serif;
}

body {
    font-family: Ubuntu, sans-serif;
}

h1, table {
    text-align: center;
    padding: 1rem; 
}

table {
    box-shadow: 5px 5px 5px grey;
}

table, th, td {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid lightgrey;
    border-collapse: collapse;
    padding: .5rem;
}

/* thead td {
    background-color: #7fb9c2;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
} */

table caption {
    background-color: #7fb9c2;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    border-left: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    box-shadow: 5px 0 5px grey;
    margin: 0;
} 


tr {
    background-color: #e7ffed;
}

.title {
    background-color: #7fb9c2;
    font-weight: 700;
    font-size: 1.5rem;
    padding: .5rem;
}

th {
    color: white;
    background-color: #628ca6;
}

tr:nth-child(odd) {
    background-color: #e7f0ed;
}

.highlight {
    color: white;
    background-color: #628ca6;
}

tfoot td{
    background-color: #7fb9c2;
    font-size: .7rem;
    padding: .4rem;
}