/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    main {
        max-width: 64rem;
        margin: auto;
    }
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.headercontent {
    padding: 0 2%;
    max-width: 950px;
    margin: auto;
}


/*----------- NAVIGATION --------------*/

           /* use the following to center the links in the NAV area
           nav {
           display: flex;
           align-items: center;
           justify-content: center;} */


.mainnavigation {
    padding: 0 2%;
    max-width: 960px;
    margin: auto;

}


   nav ul li {
        float: left;
       /* display: inline-block;  (this might give you more options) */
        
    } 

    nav ul li a{padding: .6rem 1rem;}




/*----------- MAIN --------------*/
main {
    max-width: 960px;
    margin: auto;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */