/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    main {
        max-width: 64rem;
        margin: auto;
    }
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
.headercontent {

}

.headings {
    
}


/*----------- NAVIGATION --------------*/
nav button {display: none;} /* gets rid of hamburger button */

nav ul.hide {display: block;} /* makes it so the menu does not remain hidden if sized from small to medium while the menu is hidden */


    nav ul li {
        float: left;
       /* display: inline-block;  (this might give you more options) */
        border: 1px solid fuchsia;
        
        
    }

    nav ul li a{padding: .6rem 1rem;}


/*----------- MAIN --------------*/



/*----------- FOOTER --------------*/
    
} /* end of media query */