/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    main, .headercontent, .mainnavigation  {
        /* padding: 0 2%; */
        max-width: 64rem;
        margin: auto;
    } 

    h1, h2, h3, h4, h5, .headercontent, .mainnavigation {
        padding: 0;
    }
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
    div#message {
        font-size: 1rem;
    }


/*----------- NAVIGATION --------------*/

           /* use the following to center the links in the NAV area
           nav {
           display: flex;
           align-items: center;
           justify-content: center;} */



   nav ul li {
        float: left;
       /* display: inline-block;  (this might give you more options) */
        
    } 

    nav ul li a{padding: .6rem 1rem;}




/*----------- MAIN --------------*/
iframe {
    width: 500px;
    height: 300px;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */