/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 1.3rem;
    font-family: 'Alegreya', serif;
}

h2 {
    font-size: 1.2rem;
    font-family: 'Alegreya', serif;
}

img {
    width: 90%;
    align-self: left;
}

.bodylogo {
    width: 200px;
    align-self: left;
}

h4 {
    width: 6rem;
}

.navcolor {
    background-color: #1A535C;
    color: #F7FFF7;
}
.headcolor {background-color: #4ECDC4;}
.navtextcolor {background-color: #F7FFF7;}
.linkcolor {background-color: #FF6B6B;}
.navlinkcolor {background-color: #FFE66D;}



/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #4ECDC4;
}
header img {float:left; margin-right: 10px; width: 50px;} /* set the logo (it's native size was 200px) to 50px to fit smallest screens */
header h1 {margin: 0; font-size: 1.3rem;} /*added font-size to fit smallest screens without wrapping */
header h2 {margin: 0; font-weight: normal; font-size: 1rem;} /*added font-size to fit smallest screens without wrapping */

/*----------- NAVIGATION --------------*/
nav {
    background-color: #1A535C;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #FFE66D;
    color: #333;
}
nav ul li.active a {
    background-color: #FFE66D;
    color: #333;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #4ECDC4;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}