/* media query for medium screens */
@media only screen and (min-width: 1028px) {

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    header, footer, main {
        max-width: 75rem;
        margin: auto;
    }
    
    
    
    
    
    
    } /* end of media query */