/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Fira sans', sans-serif;
}

h1 {
    font-size: 1.3rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;

}

h2 {
    font-size: 1.2rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    margin-bottom: -0.8rem; 
}

h3 {
    font-size: 1rem;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

h1, h2, h3, h4, h5, .headercontent, .mainnavigation {
    padding: 0 2.2%;
}


/*----------- HEADER --------------*/
.alert {
    background-color: red;
    color: #ffffff;
    text-align: center;
    max-width: 64rem;
    margin: 0 auto;
}
.alert h1{
    margin: 0;
    padding: 20px;
}
.alert p{
    margin: 0;
    padding-bottom: 10px;;
}
.alert button {
    background-color: #e4e2e2;
    color: darkred;
    border: 2px groove darkred;
    display: block;
    margin: auto;
    width: 100%;
    padding: 10px;

}

.alert button:hover{
    background-color: #FFE66D;
    color: #333;
    cursor: pointer;
}

.alert.disabled {
    display: none;
}


header {
    padding: .5rem 2%;
    background-color: #88AF6E;
}
header img {float:left; margin-right: 10px; width: 50px;}
header h1 {
    margin: 0;
    font-size: 1.3rem;
} 
header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
} 


/*----------- NAVIGATION --------------*/
nav button {
    margin: 0 2%;
    display: block;
    background-color: transparent;
    border: none;
    font-family: 'Fira sans', sans-serif;
    font-size: 1.5rem; 
    color:#fff; 
}

nav {
    background-color: #526F35;
    padding: 0 2%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .8rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    border: none;
}


nav ul li a:hover {
    background-color: #FFE66D;
    color: #333;
}
nav ul li.active a {
    background-color: #e6d78e;
    color: #333;
}

nav ul li.active a:hover {
    background-color: #FFE66D;
    color: #333;
}

nav ul.hide {display: none;}

/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 10rem;
}

main h1 {
    margin: 1rem 0 .5rem 0; 
}

img {
    width: 100%;
}

/*--------------------Weather Summary/Call to Action-------------*/
.imageandweather {
    position: relative;
}
.weathersummary {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    float: left;
    border: 1px solid black;
    margin: .2rem .5rem;
    padding: .5rem;
    background: rgba(216, 201, 157, 0.85);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3)
}

.weathersummary h3 {
    margin: 0;
    padding: 0;
}

.weathersummary p {
    margin: .2rem 0;
}

.calltoaction {
    position: relative;
    top: -9rem;
    left: 0;
    float: right;
    display: block;
    border: 1px solid black;
    margin: .2rem 1rem;
    padding: 2rem;
    background: rgba(187, 177, 147, 0.85);
    text-align: center;
}

.calltoaction h3 {
    margin: 0;
    padding: 0;
}


.calltoaction button {
    margin: .4rem 0;
}       

/*----------------weather section---------*/
.weather {
    display: grid;
    grid-template-columns: 1fr;
}


/*------------------5 Day----------------*/
.fiveday {
    display: block;
    margin: 0;
    width: 100%;
}

.fiveday h2 {
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
}

div.fivedayforecast {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 5rem; 
    background-color: rgb(233, 230, 230);
    border: 1px solid black;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3) 
}

div.fivedayforecast div {
    text-align: center;
    border: 1px solid black;
}

div.fivedayforecast div h4 {
    background: linear-gradient(#88AF6E, #62943E);
    margin: 0;
    padding: 1rem 1rem;
}

div.fivedayforecast img {
    margin-top: .5rem;
    width: 50%;
}

/*-------------Events-----------------*/
.events {
    margin: 1rem .5rem 0 .5rem;
    border-radius: 1rem;
    border: 5px solid #526F35;
    background-color: #BBB193;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3)
}

.events h2 {
    background: linear-gradient(#88AF6E, #62943E);
    padding: 0 0 0 .7rem;
    margin: 0 0 .5rem 0;
    border-radius: 10px 10px 0 0;
}

.events li {
    margin: 0 0 .2rem 2rem;
}

/*-------------Article----------------*/

article {
    display: flex;
    flex-direction: column;
}

.articleimage1 {
    order: 2;
    width: 100%;
}

.articleimage2 {
    order: 2;
    width: 100%;
}

.articleimage3 {
    order: 2;
    width: 100%;
}

article p {
    line-height: 1.3rem;
    padding: 0 2%;
}

article li {
    line-height: 1.3rem;
    padding: 0 2%;
}   

/*------------------Local Advertisements----------*/
.ad-h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.ad {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem;
    padding: 0 2%;
    background-color: #BBB193;
    border-radius: 20px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.3); 
}

.ad-grid1 {
    grid-column-start: 1;
}

.ad-grid1 h3 {
    font-size: 1.5rem;
}

.ad-grid1 img {
    width: 75%;
    box-shadow: 0 0 10px 4px rgba(0,0,0,0.3);
    margin: 1rem;
}

.ad-grid2 {
    grid-column-start: 2;
}

iframe {
        width: 300px;
        height: 300px;
        padding:0px;
        margin:0px;
        border: 0px
}

/*-------------------Contact-----------------*/

.contact {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    padding: 0 2%;
}

.contact-grid1 {
    grid-column-start: 1;
    margin: 2px;
    padding: 1px;
}

.contact-grid2 {
    grid-column-start: 2;
    margin: 2px;
    padding: 1px;
}

iframe {
        width: 300px;
        height: 300px;
        padding: 0;
        margin: 10px;
        border: 1px solid red;
}

.social {
    justify-content: end;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: .15em;
    padding-bottom: 1em;
}

/* ---------- Home Page directory Cards ---------- */
.buttondiv {display: none;}

div.directory-info {
    margin: 1rem 1rem 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

div.directory-info section {
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3)
}


div.directory-info section .directory-title {
    background: linear-gradient(#D0D0D0, #BBB193);
    margin: -1rem -1rem 0.5rem -1rem;
    padding: .2rem 1rem .5rem 1rem;
    border-radius: 5px 5px 0 0;
}

div.directory-info h2 {
    margin: .3rem 0 -.7rem 0;
    color: #41582a;
    font-style: italic;
}

div.directory-info h3 {
    font-size: .8rem;
    font-family: 'Fira sans', sans-serif;
    color: black;
}


 div.directory-info p{
    margin: 0 0 .3rem 0;
} 

div.directory-info section img {
    display: block;
    width: 150px;
    margin: 1rem 0 0 0;
    border-radius: 5px;
}


  /*------------FORM------------------*/

form {
    padding: .5rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445BA9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445BA9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9C2C13;
    font-size: .8rem;
}

form label.top input, form label.top select, form label.top textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1); 
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #1A535C;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    cursor: pointer;
}

form input.submitBtn:hover {
    background-color: #FFE66D;
    color:  #333;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.3)
}


form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

    


/*----------- FOOTER --------------*/
footer {
    background-color: #88AF6E;
    padding: .5rem 2%;
    text-align: center;
}

#updatetime {
    display: inline-block;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}